<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ELECTRIC VEHICLES</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">

    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Orbitron", sans-serif}
      body {font: size 14px;}
      .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
      .w3-half img:hover{opacity:1}
</style>
</head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EVnavbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a href="about.html"></a>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="visually-hidden"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tableau.html">Tableau</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a> -->
                </div>
              </li>
            <!-- </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div> -->
      </nav>

<!-- Team -->
<div class="w3-container" id="team" style="margin-top:75px">
    <h1 class="w3-xxlarge w3-text-blue"><b>About</b></h1>
    <hr style="width:50px;border:5px solid rgba(120, 240, 7, 0.623)" class="w3-round">
    <!-- <p>The best team in the world.</p> -->
    <p>Group 4 is made up of SMU's finests students in ther Data Analyst Boot Camp in 2021.
    </p>
    <!-- <p><b>Our designers are thoughtfully chosen</b>:</p> -->
  </div>

  <!-- The Team -->
  <div class="w3-row-padding">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-text-blue">
        <img src="../resources/kidist.jpg" alt="kidist" class="center" style="width:50%">
        <div class="w3-container">
          <h3>Kidist Gebremendhin</h3>
          <!-- <p class="w3-opacity"></p> -->
          <p>Programer Analyst/ Data Quality Analyst Skilled in creating database objects, data manipulation and able to work with Informatica objects.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-text-green">
        <img src="../resources/Melendez.jpg" alt="diana"  class="center" style="width:40%">
        <div class="w3-container">
          <h3>Diana Melendez</h3>
          <!-- <p class="w3-opacity"></p> -->
          <p>Strong education professional with a Master of Business Administration (M.B.A.) focused in Management Information Systems, MBA from Dallas Baptist University.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
        <div class="w3-text-blue">
          <img src="../resources/Melendez.jpg" alt="greyson" class="center" style="width: 42%" >
          <div class="w3-container">
            <h3>Greyson Moore</h3>
            <!-- <p class="w3-opacity">Excellent</p> -->
            <p>Suspendisse sodales pellentesque elementum.</p>
          </div>
        </div>
      </div>
      <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-text-green">
          <img src="../resources/serrano.jpg" alt="jorge" class="center" style="width:50%">
          <div class="w3-container">
              <h3>Jorge Serrano</h3>
              <!-- <p class="w3-opacity">Distinguised</p> -->
              <p>Bilingual Sales & Operations Executive with national and international experience.</p>
          </div>
        </div>
    </div>