<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ELECTRIC VEHICLES</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">

    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Orbitron", sans-serif}
      body {font: size 14px;}
      .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
      .w3-half img:hover{opacity:1}
</style>
</head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EVnavbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a href="about.html"></a>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="visually-hidden"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tableau.html">Tableau</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a> -->
                </div>
              </li>
            <!-- </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div> -->
      </nav>

<!-- Team -->
<div class="w3-container" id="team" style="margin-top:75px">
    <h1 class="w3-xxlarge w3-text-blue"><b>About</b></h1>
    <hr style="width:50px;border:5px solid rgba(120, 240, 7, 0.623)" class="w3-round">
    <!-- <p>The best team in the world.</p> -->
    <p>Group 4 is made up of SMU's finests students in ther Data Analyst Boot Camp in 2021.
    </p>
    <!-- <p><b>Our designers are thoughtfully chosen</b>:</p> -->
  </div>

  <!-- The Team -->
  <div class="w4-row-padding">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-text-blue">
        <img src="../resources/kidist.jpg" alt="kidist" class="center" style="width: 45%">
        <div class="w3-container">
          <h3>Kidist Gebremendhin</h3>
          <!-- <p class="w3-opacity"></p> -->
          <p>Kidist studied Math and Computer Science and has over two decades of experience in IT in different data related roles. She has shifted towards Machine Learning and data science past several years. She strongly believes in women’s potentials and in a better world by acknowledging that. She founded Seattle Women in Data Science group in 2017 with the goal of providing a safe platform for women in data science to thrive together, also to promote this field among female techies. The overwhelming response to this group affirms the need for such groups. </p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-text-green">
        <img src="../resources/image.png" alt="diana"  class="center" style="width:40%">
        <div class="w3-container">
          <h3>Diana Melendez</h3>
          <!-- <p class="w3-opacity"></p> -->
          <p>Diana is a Data Scientist at SAP Concur where she works on developing machine learning algorithms for the ExpenseIt feature. As of Fall 2019 she is also an adjunct lecturer at Northeastern University, Seattle campus, where she teaches probability and statistics for the Master's in Data Analytics Engineering Program. After completing a bachelor's degree in speech and hearing sciences, she pivoted and completed a post-bach degree in math and continued on to earn a master's in statistics. Shivani is passionate about equity in public education and supporting women in technology.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
        <div class="w3-text-blue">
          <img src="../resources/greyson.jpg" alt="greyson" class="center" style="width: 45%" >
          <div class="w3-container">
            <h3>Greyson Moore</h3>
            <!-- <p class="w3-opacity">Excellent</p> -->
            <p>Greyson is a Senior Industry Analyst supporting the Global Wireless Practice (GWP). Steven covers wireless devices and specializes in wearables, providing quantitative and qualitative analysis on the wearables, smartphone, and handset markets.  Steven is the lead quantitative analyst for the Wearables Service, spearheading all modelling for quarterly tracking as well as forecasting across smartwatches, feature watches, fitness bands, smartglasses, hearables, and other wearable device types.</p>
          </div>
        </div>
      </div>
      <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-text-green">
          <img src="../resources/serrano.jpg" alt="jorge" class="center" style="width:40%">
          <div class="w3-container">
              <h3>Jorge Serrano</h3>
              <!-- <p class="w3-opacity">Distinguised</p> -->
              <p>Jorge is an author, futurist, frequent keynote speaker, and strategic advisor on data insights to businesses and governments. He advises and coaches many of the world’s best-known organizations and was voted by LinkedIn as one of the top five business influencers in the world and the No 1 influencer in the UK. He is a contributor to the World Economic Forum, and the author of many articles and books</p>
          </div>
        </div>
    </div>